body {background-color: #ffc04d;
      position: center;}

#header { height: 50px;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: #ff701f;
	margin-left: 200px;
	margin-top: 5px;
}

#buttons {float: left;
    margin-left: 10px;
    background-color: #ffe23a;
    margin-top: 14px;
    font-family: Gotham;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border-color: #62c434;
    border-spacing: 5px;
} 

#text {height: 700px;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: #cfe63f;
	margin-left: 200px;
	margin-top: -10px;
}

.week{font-family: Helevitica;
   font-size: 24px;
   font-style: bold;
   text-align: center;
}

.questions {font-family: Courier;
    font-size: 20px;
    font-style: bold;
    float: left;
    margin-left: 30px;
    color: red;
}

.answer{font-family: Courier;
    font-size: 16px;
    text-indent: 30px;
    padding-left: 60px;
    padding-right: 20px
}


