

body {background-color:white; }

#header { height: 50px;
	display: inline-block;
	position: static;
	width: 900px;
	background-color: #4dbbff;
	margin-left: 100px;
	border-radius: 8px;
	margin-top: 5px;
	padding: 5px,5px,5px,5px;
	border:1px solid #0000ff; 
}

h3 {color: white;
    font-family: Futura, sans-serif;
    font-weight: bold;
    float: left;
    margin-left: 320px;
    margin-top: -4px;
}

#sidebar {height: 450px;
	width: 100px;
	position: static;
	background-color:  #4dbbff;
	margin-left: 100px;
	border-radius: 5px;
	margin-top: 5px;
	border:1px dotted #0000ff;
	padding: 5px,5px,5px,5px;
}

#link01 {font-size: 16px;
   font-family: Verdana;
   text-align: center;
   height: 5px;
   margin-bottom: 30px;
   margin-top: 40px;
}

#link02 {font-size: 16px;
   font-family: Verdana;
   text-align: center;
   height: 5px;
   margin-bottom: 30px;
}

#link03 {font-size: 16px;
  font-family: Verdana;
  text-align: center;
  height: 5px;
  margin-bottom: 30px;
}

#link04 {font-size: 16px;
  font-family: Verdana;
  text-align: center;
  height: 5px;
  margin-bottom: 30px;
}

#link05 {font-size: 16px;
  font-family: Verdana;
  text-align: center;
  height: 5px;
  margin-bottom: 30px;
}

#links_dynamic:link {text-decoration: none;
   color: white;}

#links_dynamic:hover {color: red;}

#links_dynamic:visited {color: blue;}

#content {height: 450px;
	width: 790px;
	background-color: #175780;
	border-radius: 5px;
	margin-left: 210px;
	margin-top: -450px;
	border:1px dotted white;
	padding: 5px,5px,5px,5px;
}

img { height: 250px;
	 width: 250px;
	 margin:5px;
     padding: 5px,10px,10px,10px;
     border:1px dotted white;
     float:left;
     margin-left: 60px;
     margin-top: 80px;
}

#left {height: 300px;
	width: 300px;
	background-color: white;
	border-radius: 5px;
	margin-right: 80px;
	 padding: 10px;
    border:1px solid #0000ff;
    float: right;
    margin-top: 80px;
    overflow: scroll;
}

#caption { font-weight: bold;
    font-family: Book Antiqua;
    color: white;
    float: left;
    margin-left: 100px;
    margin-top: -50px;
}

p {font-size: 14px;
   font-family: Helevitica;
   text-indent: 20px;
}

#footer {
	height: 25px;
	width: 900px;
	background-color: #4dbbff;
	margin-left: 100px;
	border-radius: 5px;
	margin-top: 2px;
	border:1px solid #0000ff;
	padding: 5px,5px,5px,5px;
}

#copyright {font-size: 16px;
    font-family: Helvetica;
    text-align: center;
    float: right;
    margin-right: 370px;
    margin-top: -12px;
    color: white;
}

#circle01 {height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 100%;
    float: left;
    margin-left: 370px;
    margin-top: 9.5px;}

#circle02 {height: 8px;
   width: 8px;
   background-color: white;
   border-radius: 100%;
   float: right;
   margin-right: 310px;
   margin-top: 9.5px;
}

span {font-style: italic;
   font-family: Book Antiqua;
   font-weight: bold;
   font-size: 18px}