body {background-color: #d3d4d6;
      position: center;}

#header { height: 50px;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: #718568;
	margin-left: 200px;
	margin-top: 5px;
    border-radius: 10px;
}

#buttons {float: left;
    margin-left: 336px;
    background-color: #eeeff5;
    margin-top: 14px;
    font-family: Gotham;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border-color: #f4fffe;
    border-spacing: 5px;
} 

#text {height: 500px;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: #f4fffe;
	margin-left: 200px;
	margin-top: -10px;
}

.week{font-family: Helvetica;
   font-size: 18px;
   font-style: bold;
   text-align: left;
   margin-left: 30px;
}

.questions {font-family: Courier;
    font-size: 20px;
    font-style: bold;
    float: left;
    margin-left: 30px;
    color: #718568;
    margin-top: -10px;
}

nav { text-align: center;
  margin-left: 20px;
     }

#links:link {text-decoration: none;
            color: steelblue;}
#links:hover {color: red;}
#links:visited {color: #658e28;}

#links{background-color: #ecf296;
       font-family: Helvetica;
       font-size: 20px;
      border-radius: 10px;
      padding: 0px 5px;}

img {float: left;
  margin-left:230px;
margin-top: 10px;}

.static_questions{font-family: Courier;
    font-size: 16px;
    font-style: bold;
    float: left;
    margin-left: 30px;
    color: #718568;
    margin-top: -10px;}

