body {background-color: #e1e6fa;
position: center;}

#header { height: 50px;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: #183152;
	margin-left: 200px;
	margin-top: 5px;
}

#buttons {float: left;
margin-left: 100px;
background-color: #c4d7ed;
margin-top: 14px;
font-family: Gotham;
font-size: 20px;
color: white;
border-radius: 5px;
} 

#links_dynamic:link {text-decoration: none;
   color: #183152;}

#links_dynamic:hover {color: red;}

#links_dynamic:visited {color: black;}

#text {height: 730px;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: #abc8e2;
	margin-left: 200px;
	margin-top: -10px;
}

}

img {height: 420px;
	width: 640px;
	margin-left: 80px
}

p {font-family: Courier;
font-size: 14px;
text-indent: 30px;
padding-left: 10px;
padding-right: 10px
}

h6 {font-family: Helevitica;
font-size: 24px;
margin-left:80px; 
margin-bottom: 10px;
color: #375d81}
