body {background-color: #d6e4f3;}
h3 {font-family: Helvetica;
font-weight: bold;
text-align: center;
margin-top: -10px;
}

#header { height: 50px;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: #44678b;
	margin-left: 200px;
	margin-top: 5px;
}

#buttons {float: left;
margin-left: 140px;
background-color: white;
margin-top: 5px;
}

#text {height: 1700px;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: white;
	margin-left: 200px;
	margin-top: -10px;
}

img {height: 420px;
	width: 640px;
	margin-left: 80px;
}

#para {margin-left: 20px;
font-size: 20px;}

li{font-family: Helevitica;
font-size: 18px;}

p {font-family: Courier;
font-size: 14px;
text-align: left;}
